@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Ubuntu:wght@300&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.navBar {
    padding-top: 10px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
.navBar div > h1 {
    padding: 5px 0 10px 20px;
}
.navBar .navContainer button {
    width: 50px;
    height: 45px;
    margin-right: 10px;
    color: black;
    background-color: transparent;
    border: none;
}
.navBar .navContainer button:hover {
    cursor: pointer;
    color: orange;
    border-radius: 50px;
}

.searchIcon {
    border: 3px solid grey ;
    border-radius: 5px;
    display: flex;
}
.searchIcon > span {
    background-color: white;
    padding: 6px 10px 6px 10px;
}
.searchIcon > button {
    border: none;
    color: white;
    width: 50px;
    background-color: grey;
}
.searchIcon button:hover {
    cursor: pointer;
    background-color: rgb(75, 75, 75);
}
input[type="text"] {
    width: 500px;
    height: 40px;
    border: none;
    box-sizing: content-box;
}
.ustMenu {
    background-color: #d7d7d7;
    margin-top: 10px;
    list-style: none;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}
.ustMenu li {
    height: 35px;
}
.ustMenu li:hover {
    cursor: pointer;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid;
    border-color: red;
}
.image {
    text-align: center;
    margin-top: 30px;
    padding-bottom: 80px;
}
.image img {
    padding-left: 50px;
    height: 300px;
    width: 500px;
}
.image p {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}
.brand {
    text-align: center;
}
.brandTitle h2 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 24px;
    padding-left: 20px;
    margin-top: 50px;
}
.brandCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}
.brandCard div {
    padding-left: 25px;
}
.brandCard div:hover {
    color: orange;
}
.brandCard div p a:hover {

    color: orange;
}
.brandCard p a{
    text-decoration: none;
    color: black;
}

.footer {
    background-color: rgba(203, 203, 203, 0.78);
    padding-top: 20px;
}
.footerContent {
    display: flex;
    justify-content: space-evenly;
}
.footer h3{
    display: flex;
    margin-bottom: 16px;
}
.footer h3 a {
    text-decoration: none;
}
.footer li {
    list-style: none;
    padding-bottom: 7px;
}
.footer li a {
    text-decoration: none;
    color: black;
}
.cardHead .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 30px;
}
.cardHead .cardTitle h2 {
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
    margin-bottom: 24px;
    padding-left: 20px;
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
}
.cardHead .cardContainer {
    align-items: center;
    text-align: center;
    width: 300px;
    height: 300px;
}
.cardContainer .front, .cardContainer .back {
    width: inherit;
    height: inherit;
    backface-visibility: hidden;
    position: absolute;
    transition: 1s transform;
}
.cardContainer .back {
    transform: rotateY(-180deg);
}
.cardHead .card .cardContainer .back h1 {
    padding-top: 65px;
    font-size: 25px;
}
.cardHead .card .cardContainer .back h2 {;
     font-size: 22px;
    color: #5d3ebc;
 }
.cardHead .card .cardContainer .back p1 span {
 padding-top: 30px;
    font-size: 50px;
    transition: 1s font-size;
}
.cardHead .card .cardContainer .back p1 span:hover {
    color: orange;
    font-size: 80px;
}
.cardHead .card .cardContainer .back p {
    padding-top: 30px;
    font-size: 20px;
    color: grey;
}
.cardHead .card .cardContainer:hover .front {
    transform: rotateY(180deg);
}
.cardContainer:hover .back {
    transform: rotateX(0);
}
@media only screen  and (min-width: 1000px){
    .brandTitle h2 {
        font-size: 40px;
    }
    .brand .brandCard div img {
        width: 198px;
        height: 170px;
    }
    .brand .brandCard div p {
        font-size: 25px;
    }

}
@media only screen and (max-width: 500px) {
.navBar div h1 {
    display: none;
}
.navBar .searchIcon {
    width: 250px;
}
    .ustMenu {
        justify-content:space-between;
        flex-wrap: wrap;
    }
    ul li:nth-child(3) {
        display: none;
    }
    .image img {
        height: 250px;
        width: 200px;
    }
    .image p {
        font-size: 20px;
    }
    .brand .brandTitle h2 {
        font-size: 20px;
    }
    .cardHead .cardTitle h2 {
        font-size: 20px;
    }
    .brand div {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .cardHead .card .cardContainer {
        padding-left: 75px;
        display: flex;
        flex-direction: column;
    }
    .footer {
        display: none;
    }

}
